@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,800;1,9..40,300;1,9..40,800&display=swap");
/*Color*/
/*Color*/
.txt_blanco {
  color: #ffffff !important;
}

.bg_blanco {
  background-color: #ffffff !important;
}

.txt_azul1 {
  color: #001EB4 !important;
}

.bg_azul1 {
  background-color: #001EB4 !important;
}

.txt_azul2 {
  color: #00005A !important;
}

.bg_azul2 {
  background-color: #00005A !important;
}

.txt_azul3 {
  color: #44C8F5 !important;
}

.bg_azul3 {
  background-color: #44C8F5 !important;
}

.txt_azul4 {
  color: #0064de !important;
}

.bg_azul4 {
  background-color: #0064de !important;
}

.txt_azul5 {
  color: #00eeff !important;
}

.bg_azul5 {
  background-color: #00eeff !important;
}

.txt_verde {
  color: #00F52D !important;
}

.bg_verde {
  background-color: #00F52D !important;
}

.txt_amarillo {
  color: #ffbd00 !important;
}

.bg_amarillo {
  background-color: #ffbd00 !important;
}

.txt_violeta {
  color: #FF0064 !important;
}

.bg_violeta {
  background-color: #FF0064 !important;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #001EB4;
  position: relative;
  line-height: 1.17em;
}
body::-webkit-scrollbar {
  width: 0.6em;
  background-color: #ffffff;
}
body::-webkit-scrollbar-thumb {
  background-color: #001EB4;
  border: 0px;
  border-bottom: 2px;
  border-top: 2px;
  border-style: solid;
  border-color: #001EB4;
  border-radius: 10px;
  margin: 5px;
}

strong {
  font-weight: 800;
}

a {
  color: #44C8F5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

li {
  margin-bottom: 0.5em;
}

header {
  border-bottom: 2px solid #001EB4;
  position: relative;
}
≈ header::before, header::after {
  content: "";
  display: block;
  border-radius: 10px;
  position: absolute;
  border: 1px solid;
}
header::before {
  border-color: #ffbd00;
  width: 10vw;
  bottom: -1px;
  right: 30%;
}
header::after {
  border-color: #44C8F5;
  width: 20vw;
  right: 0;
}
header .head {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 22px 20px 15px;
}
header .head .name img {
  max-width: 187px;
}
header .head .logo img {
  max-width: 43px;
}

.contain {
  max-width: 1360px;
  margin: 0 auto;
}

.data {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.data .num {
  color: #ffffff;
  background-color: #001EB4;
  padding: 10px 20px;
  margin: -10px -20px;
  margin-right: initial;
}
.data .date {
  text-align: right;
  margin-left: 15px;
}

.titular {
  background-color: #001EB4;
  color: #ffffff;
}
.titular .image {
  height: 340px;
  border-bottom: 2px solid #ffffff;
  position: relative;
  overflow: hidden;
}
.titular .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
}
.titular .image h1 {
  position: absolute;
  background: rgba(0, 54, 125, 0.6235294118);
  bottom: 0px;
  color: #44C8F5;
  font-size: 1.5em;
  padding: 20px 20px;
  margin: 0;
}
.titular .image h1 span {
  color: #ffffff;
}
.titular .txt {
  padding: 20px;
}
.titular .txt ul {
  padding: 0 20px;
}

.extend-arti {
  background-color: #001EB4;
}
.extend-arti .item {
  padding: 0 20px 20px;
}
.extend-arti .item:nth-child(1) h3 {
  color: #cccccc;
}
.extend-arti .item:nth-child(2) h3 {
  color: #ffbd00;
}
.extend-arti .item:nth-child(3) h3 {
  color: #44C8F5;
}
.extend-arti .item .txt {
  font-size: 0.9em;
  color: #001EB4;
  border-bottom-right-radius: 18px;
  background-color: #ffffff;
  border-left: 6px solid;
  padding: 20px;
  padding-left: 0;
}
.extend-arti .item:nth-child(1) .txt {
  border-color: #cccccc;
}
.extend-arti .item:nth-child(2) .txt {
  border-color: #ffbd00;
}
.extend-arti .item:nth-child(3) .txt {
  border-color: #44C8F5;
}

.notes {
  padding: 40px 20px;
}
.notes .items_n {
  display: grid;
  gap: 20px;
}
.notes h2 {
  font-size: 1.8em;
  border-bottom: 2px solid #001EB4;
  display: flex;
  align-items: end;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.notes h2 img {
  margin-left: 10px;
}
.notes h3 {
  font-size: 1.4em;
  color: #44C8F5;
}
.notes .txt {
  border-bottom: 2px solid #44C8F5;
}
.notes .txt .thumbnail {
  text-align: center;
  margin-bottom: 10px;
}
.notes .form {
  padding: 20px;
  display: flex;
  border: 2px solid #003480;
  border-radius: 30px;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.notes .form img {
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
}

.person {
  padding: 20px;
}
.person img {
  margin: auto;
  display: block;
  margin-bottom: 20px;
  max-width: 240px;
}
.person h2 {
  font-size: 2em;
  text-align: center;
}
.person h4 {
  background-color: #ffbd00;
  border-bottom: 2px solid #001EB4;
  margin: 20px -20px;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}
.person span {
  display: block;
  font-size: 0.6em;
  font-weight: 300;
}
.person .txt {
  padding-bottom: 20px;
}
.person .conv {
  border-top: 1px solid #001EB4;
  text-align: center;
  padding: 15px 40px;
  margin: 0 -20px;
}
.person .conv a.btns {
  font-size: 1.5em;
  margin-top: 10px;
}

.banner {
  padding: 0 20px;
}
.banner img {
  width: 100%;
  height: auto;
}

footer {
  margin-bottom: 32px;
}
footer .media {
  display: flex;
  font-size: 0.8em;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
footer .media img {
  width: 40px;
}
footer .media .movil {
  display: none;
}
footer .logo {
  text-align: center;
}
footer .logo img {
  width: 40px;
}
footer .etica {
  text-align: center;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #001EB4;
}
footer .etica a {
  color: #ffffff;
}
footer .logo {
  margin: 20px;
}

.btns {
  display: flex;
  justify-content: center;
  border-radius: 3em;
  font-size: 1.15em;
  font-weight: 800;
  margin-bottom: 20px;
  padding: 5px;
  text-decoration: none;
  transition: all ease-in 0.35s;
}
.btns.btn1 {
  border: 2px solid #001EB4;
  color: #001EB4;
  background-color: #ffffff;
}
.btns.btn1:hover {
  background-color: #001EB4;
  color: #ffffff;
}
.btns.btn2 {
  border: 2px solid #001EB4;
  color: #001EB4;
  background-color: #ffbd00;
}
.btns.btn2:hover {
  background-color: #ffffff;
}

.home .contain {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 50px;
  grid-template-areas: "ppal aside";
  gap: 20px;
  padding: 40px 20px;
}
.home .library {
  grid-area: ppal;
}
.home footer {
  grid-area: aside;
}
.home .library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px 20px;
}
.home .library a {
  text-decoration: none;
  color: inherit;
}
.home .library .item {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  /* &:hover .txt {
    height: 250px;
    transition: ease-in 0.5s height;
  } */
}
.home .library .item .thumbnail img {
  width: 100%;
}
.home .library .item .txt {
  font-size: 0.8em;
  overflow: hidden;
  background-color: #ffffff;
  /* height: 0px; */
  transition: ease-in 0.3s height;
  padding: 10px 20px 29px;
}
.home .library .item .txt h2 {
  color: #001EB4;
  font-size: 1.5em;
}
.home .library .item .txt h2 span {
  color: #44C8F5;
  display: block;
  font-weight: normal;
  font-size: 80%;
  margin: 4px 0 6px;
}
.home footer {
  flex-direction: column;
}
.home footer .media {
  margin: 0;
  gap: 20px;
}

/*Desktop*/
@media (min-width: 768px) {
  body {
    font-size: 18px;
    background-image: url(../img/bgR2.webp), url(../img/bgR3.webp);
    background-repeat: no-repeat;
    background-position: -250px -20px, top right, right bottom;
  }
  header .head .name img {
    max-width: 295px;
  }
  header .head .logo img {
    max-width: 64px;
  }
  header::before {
    width: 10vw;
    bottom: -2px;
    right: 23%;
  }
  .contain {
    padding: 0 20px;
  }
  .data {
    padding: 10px 0;
    font-size: 0.8em;
    margin-bottom: 20px;
  }
  .data .num {
    margin-left: 0;
    border-radius: 0 0 15px 15px;
  }
  .wrap {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) 315px;
    grid-template-areas: "principal aside";
    gap: 20px;
  }
  .ppal {
    grid-area: principal;
  }
  aside {
    grid-area: aside;
  }
  .titular {
    border-radius: 30px 30px 10px 10px;
    box-shadow: 0px 17px 42px 0px rgba(0, 0, 0, 0.35);
    padding-bottom: 90px;
  }
  .titular .image {
    height: 390px;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
  }
  .titular .image h1 {
    font-size: 1.7em;
    top: 40px;
    right: 0;
    max-width: 55%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .titular .ppal {
    position: relative;
  }
  .titular .ppal .txt {
    padding: 40px 20px;
  }
  .extend-arti {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
    justify-content: space-between;
    padding: 0 20px;
    background-color: transparent;
    margin-top: -110px;
  }
  .extend-arti .item {
    padding: 0;
  }
  .extend-arti .item h3 {
    font-size: 1.3em;
  }
  .extend-arti .item .txt {
    height: calc(100% - 40px);
    font-size: 0.8em;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  }
  .notes .items_n {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 40px 20px;
  }
  .notes .items_n.items4 {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
  .notes .txt {
    margin-top: 20px;
    font-size: 0.95em;
  }
  .notes h3 {
    font-size: 1.2em;
  }
  .notes a {
    font-size: 90%;
  }
  .person {
    background-color: #ffffff;
    box-shadow: 0px 17px 42px 0px rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    font-size: 0.8em;
    margin-bottom: 40px;
  }
  .person img {
    margin-top: 10px;
  }
  .person .conv {
    font-size: 1.1em;
    padding-bottom: 0;
  }
  .person .conv p {
    margin: 0;
  }
  .person .conv a.btns {
    margin: 10px 0 5px;
    padding: 10px;
  }
  .banner {
    padding: 0;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
  footer .media {
    display: flex;
    font-size: 0.8em;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  footer .media img {
    width: 40px;
  }
  footer .media .movil {
    display: none;
  }
  footer .etica {
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 0.8em;
  }
  footer .logo {
    text-align: center;
  }
  footer .logo img {
    width: 40px;
  }
  .home .contain {
    grid-template-columns: minmax(500px, 1fr) 50px;
  }
  .home .contain .library .item .txt h2 span {
    margin: 2px 0 4px;
  }
}
.galeria .container {
  padding: 20px 0;
  -moz-columns: 4 300px;
       columns: 4 300px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.galeria img {
  max-width: 100%;
  width: 100%;
}
.galeria img:hover {
  cursor: pointer;
}
.galeria .item {
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.galeria .item label.imgT {
  display: block;
}
.galeria .item .txt {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
  bottom: 0;
  right: 0;
  width: calc(100% - 20px);
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  transition: all ease-in-out 0.2s;
  border-radius: 6px 6px 0 0;
  margin: 0 10px;
  text-align: center;
  font-size: 0.8em;
}
.galeria .item:hover .txt {
  height: 40px;
  padding: 5px;
}
.galeria.offtxt .txt {
  display: none;
}
.galeria .popup-image {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.9333333333);
  height: 100%;
  width: 100%;
  z-index: 100;
  place-content: center;
  align-items: center;
  display: none;
}
.galeria .popup-image span {
  position: absolute;
  text-align: right;
  top: 17px;
  left: -12px;
  font-size: 60px;
  font-weight: bolder;
  color: #001EB4;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.galeria .popup-image img {
  outline: 1px solid rgba(0, 30, 180, 0.3882352941);
  outline-offset: 5px;
  border-radius: 5px;
  width: initial;
  height: initial;
  max-height: 90dvh;
  max-width: 90dvw;
  z-index: 10;
}/*# sourceMappingURL=main.css.map */